<p>
  发布
  {{ with .Site.Params.author }}
    者 {{ . }}
  {{ end }}
  于 <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan, 2006" }}</time>
  {{ with .Params.categories }}
    发布于分类 {{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") ", " " and "}}
  {{ end }}
  {{ with .Params.tags }}
    和标签 {{ delimit (apply (apply (sort .) "partial" "post/tag-link" ".") "chomp" ".") ", " " and " }}
  {{ end }}
  。使用了 {{ .WordCount }} 字，
  需要 {{ .ReadingTime }} 分钟阅读.
</p>
